@font-face {
  font-family: "eina01-semibold";
  src: url("/fonts/eina/Eina01-SemiBold.eot") format("embedded-opentype"), url("/fonts/eina/Eina01-SemiBold.woff") format("woff"), url("/fonts/eina/Eina01-SemiBold.woff2") format("woff2"), url("/fonts/eina/Eina01-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "eina03-regular";
  src: url("/fonts/eina/Eina01-Regular.eot") format("embedded-opentype"), url("/fonts/eina/Eina01-Regular.woff") format("woff"), url("/fonts/eina/Eina01-Regular.woff2") format("woff2"), url("/fonts/eina/Eina01-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "eina03-bold";
  src: url("/fonts/eina/Eina03-Bold.eot") format("embedded-opentype"), url("/fonts/eina/Eina03-Bold.woff") format("woff"), url("/fonts/eina/Eina03-Bold.woff2") format("woff2"), url("/fonts/eina/Eina03-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'hand_of_seanregular';
  src: url("/fonts/handsean/handsean-webfont.woff2") format("woff2"), url("/fonts/handsean/handsean-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.dealwithit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  width: 100px;
  height: 100px;
}

.demarche_image,
.planete_image {
  width: 80%;
  height: 50%;
  padding: 30px;
  margin-bottom: -98px;
}

h1 {
  font-size: 3rem;
  padding-bottom: 20px;
  font-family: "eina03-bold";
}

h2 {
  font-size: 2rem;
  padding-bottom: 20px;
  font-family: "eina03-bold";
}

p {
  font-family: "eina01-semibold";
  font-weight: normal;
}

.small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "";
}

a:visited {
  color: #FFFFFF;
}

button {
  background-color: #FF495B;
  color: #FFFFFF;
  padding: 10px;
  margin: 2px;
  border-radius: 30px;
  border: none;
}

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F2EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.banner_paragraph {
  font-size: 1rem;
  font-weight: lighter;
  padding-right: 30px;
  text-align: center;
}

.header {
  background-color: #3f3934;
  background-image: url("../images/header-background.jpg");
  color: #FFFFFF;
  background-blend-mode: multiply;
}

.header_col {
  padding: 80px;
}

.header_sidebar {
  margin-bottom: -300px;
}

.header_aperture {
  padding: 20px;
  background-color: #F0C300;
}

.header_points p {
  color: #3f3934;
  text-align: left;
}

.header_points {
  color: #3f3934;
  background-color: #FFFFFF;
  width: 100%;
  padding: 40px;
  -webkit-box-shadow: inset 0px 10px 5px 0px #cfcfcf;
          box-shadow: inset 0px 10px 5px 0px #cfcfcf;
}

.aperture_image {
  width: 100%;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.demarche {
  background-color: #12893D;
  color: #FFFFFF;
  padding: 80px;
}

.planete {
  padding: 80px;
}

.avantages {
  background-color: #F6F2EE;
  text-align: center;
  padding: 80px;
}

.avantages_title {
  color: #3f3934;
}

.avantages_paragraph {
  color: #898A92;
}

.aperture img {
  width: 100%;
}

.avis_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-items: center;
}

@media (max-width: 768px) {
  section,
  .container-fluid,
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}
/*# sourceMappingURL=app.css.map */