@import 'fonts';
@import 'dealwithit';
@import 'colors';

// PARAMETRES GENERAUX 
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.row {
    margin: 0;
    align-items: center;
}


// IMAGES

.demarche_image,
.planete_image {
    width: 100%;
    height: auto;
    padding: 30px;
    margin-bottom: -94px;
}



// POLICES

h1 {
    font-size: 2rem;
    font-family: "eina03-bold";
}

h2 {
    font-size: 1.5rem;
    font-family: "eina03-bold";

}

p {
    font-family: "eina01-semibold";
}


// BOUTONS ET LIENS

a {
    text-decoration: none;
    color: #FFFF;
}

a:visited {
    color: #FFFF;
}

button {
    background-color: $red;
    color: #FFFF;
    padding: 10px;
    margin: 2px;
    border-radius: 30px;
    border: none;

}




// BANNIERE
.banner {
    align-items: center;
    background-color: $beige;
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner_logo {
    max-width: 100px;
}


.banner_text {
    font-size: 1rem;
    font-family: "eina03-regular";
    font-weight: 200;
}



// HEADER

.header {
    background-color: grey;
    background-image: url("../images/header-background.jpg");
    color: #FFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}


.header_title {
    padding: 100px;
    padding-top: 30px;
}

.header_paragraph {
    font-size: 0.7rem;
}

// SIDEBAR JAUNE ET BLANCHE
.header_sidebar {
    margin-bottom: -500px;
}

// PARTIE JAUNE APERTURE
.header_aperture {

    background-color: $yellow;
    width: 367px;
    height: 200px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.aperture_paragraph {
    font-size: 1rem;
}

.aperture_image {
    width: 50%;
    height: auto;
}

// PARTIE BLANCHES AVEC LES DIFFERENTS POINTS

.header_points {
    color: #3f3934;
    background-color: #FFFF;
    width: 367px;
    padding: 20px;
    box-shadow: inset 0px 10px 5px 0px #cfcfcf;
    text-align: left;

}

.points_paragraph {
    padding-right: 5px;
}


.fa-check {
    padding-right: 3px;
}


// PARTIE AVEC LES 4 POINTS "AVANTAGES"
.avantages_row {
    background-color: $beige;
    text-align: center;
    padding: 60px;
    align-items: baseline;
    margin: inherit;
}

.avantages_title {
    color: #3f3934;
    padding-top: 20px;
}

.avantages_paragraph {
    color: $grey;

}

.avantages_image {
    width: 40%;

}


// PLANETE QUI ?

.planete {
    padding: 60px;
}

.planete_text {
    padding-right: 180px;

}


// DEMARCHE
.demarche {
    background-color: $green;
    color: #FFFF;
    padding: 60px;
}

.demarche_text {
    padding-left: 180px;
}




// PARTIE FOOTER/LOGOS

.logos_row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 60px;
    text-align: center;
    justify-items: center;

}

.logos_paragraph {
    padding-top: 10px;
}

.logos_image {
    width: 50%;
}



//RESPONSIVE


@media (max-width: 768px) {

    // GENERAL 
    section,
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

    }


    // IMAGES
    .demarche_image,
    .planete_image {
        margin-bottom: 0;
    }


    // HEADER 
    .header_sidebar {
        margin-bottom: 0;
    }

    // BANNIERE 
    .banner {
        min-height: 200px;
        justify-items: center;
    }

    // AVANTAGES

    .avantages_col {

        padding: 0 auto;
        margin: 0 auto;
        max-width: 100%;

    }



    // TEXTES DEMARCHE ET PLANETE QUI ?
    .demarche_text,
    .planete_text {
        padding: 0;

    }





}